<h1>Let's Eat the Burger!</h1>

{{!-- This is the first unordered list to show the burgers that are not yet eaten --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-buttons eat=true}}
    {{/unless}}
  {{/each}}
</ul>
{{!-- Second list for the burgers that are eaten --}}
<ul>
  {{#each burgers}}
    {{#if devoured}}
    
      {{> burgers/burger-buttons eat=false}}
    {{/if}}
  {{/each}}
</ul>
{{!-- Box for user to type in a new burger and a submit button --}}
<h2>Add a New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Type:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
