body 
{background-color: darkgoldenrod;};


.main_headline {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 24px;
color: red};

ul {

    float: left;
};